.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem; //since shape exceeded padding, add more
  font-size: $default-font-size;

  transform: skewX(-12deg); //gives text the polygon effect

  // & > * {
  //   transform: skewX(12deg); //offsets skew for all contained elems
  //   //btw since there's a transform already on the shape, you can't stack them
  //   //so instead of this, we need to apply this redundantly to both
  // }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(
      50% at 50% 50%
    ); //radius (% * width * height of div), origin point

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // protip: dont mess with margins on floated elements to move them in place
    transform: translateX(-3rem) skewX(12deg); //safer to just transform to move shape

    position: relative; //for hover blur over image
  }

  &__img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    backface-visibility: hidden; //stop shaking at the end of animation
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute; //shape is the parent
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; //stop shaking at the end of animation
  }

  &:hover &__caption {
    //activates only when you hover over container
    //and applies these settings only to story__caption
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translate(-4rem) scale(1); //kinda zooms out
    filter: blur(3px) brightness(80%); //<100% makes it darker
  }
}
