/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* normalize - makes every browser render the same way but since browsers are getting better and better, no need to normalize (wipes all styles, even browser settings)
Rather, just reset to bring back to browser settings*/

* { /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* change box model so border and padding is not added to total height and width specified for a box */
}

body {
  font-family: "Lato", sans-serif;/* putting font fami ly here will allow all children to inherit (more efficient) */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* times bigger than previous line height */
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  /* background-image: url(../img/hero.jpg); */
  background-image: linear-gradient( /* color transition*/
    to right bottom,
    rgba(126,213,111,0.8),
    rgba(40,180,131,0.8)),
  url(../img/hero.jpg);
  background-size: cover; /* will always try to fit the viewport in the box */
  background-position: top; /* if img needs to get cut off, it'll always show position specified. This will cut off bottom */
  /* background-position: center; will crop top and bottom to keep img center */
  clip-path: polygon( 0 0, 100% 0, 100% 80%, 0 100%) /* topLeft, topRight, bottomRight, bottomLeft */
}
